<section class="content">
    <form class="container border mt-5 p-5">
        <h3>Inicio de sesion</h3>
        <section class="form-group">
            <p>
                <label for="email" class="mt-3 h6">Email address</label>
            </p>
            <input type="email" class="form-control-sm" id="email" name="email">
        </section>
        <section class="form-group">
            <p>
                <label for="asd" class="mt-3 h6">Password</label>
            </p>
            <input type="password" class="form-control-sm" id="asd" name="email">
        </section>
        <section class="form-check mt-3">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Recordar</label>
        </section>
        <section class="form-group">
            <button type="button" class="btn  border mt-3">submit</button>
        </section>
    </form>
</section>